* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
header {
    padding: 20px;
    background: #f2f2f2;
    position: static;
    top: 0;
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
header {
    padding: 20px;
    background: #f2f2f2;
    position: static;
    top: 0;
    width: 100%;
}
.main-hede {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul {
    display: flex;
    list-style: none;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}
.nav ul button {
    margin-right: 10px;
}
nav li {
    padding: 5px 10px;
    border: none;
    display: inline-block;
    padding: 5px;
    transition: all linear 0.5s;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
nav li a {
    text-decoration: none;
    color: black;
    font-size: 500;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    width: 100%;
    background: rgba(0, 4, 255, 0.911);
    position: fixed;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 101;
    -webkit-box-shadow: 5px 25px 46px -16px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 5px 25px 46px -16px rgba(0, 0, 0, 0.48);
    box-shadow: 5px 25px 46px -16px rgba(24, 21, 4, 0.715);
    z-index: 9999;
}
.container_svih_timova {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 5px;
    margin-top: 100px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    perspective: 10000px;
}
.container_all_of_Grup {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
.container_tim_grupe_F {
    position: relative;
    border-radius: 10px;
    width: 140px;
    height: 100px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
    margin: 10px;
}
.container_tim_grupe_F:hover {
    transition: 0.5s;
    -webkit-box-shadow: 5px 25px 46px -16px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 5px 25px 46px -16px rgba(0, 0, 0, 0.48);
    box-shadow: 5px 25px 46px -16px rgba(24, 21, 4, 0.423);
}
.container_tim_grupe_F:active {
    box-shadow: 5px 25px 46px -16px rgba(141, 13, 13, 0.172);
    transition: 0.5s;
}
.container_tim_grupe_F.flip {

    transform: rotateY(180deg);
    box-shadow: 5px 25px 46px -16px rgba(89, 89, 87, 0.544);
}
.container_tim_grupe_F.flip:hover {
    transform: rotateY(180deg);
    box-shadow: 5px 20px 40px -16px rgba(173, 124, 124, 0.797);
}
#front_face {
    border-radius: 5px;
    position: absolute;
    width: 150px;
    border: 0.5px solid rgba(177, 174, 174, 0.152);
    background-size: cover;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}
#back_face {

        z-index: 1;
        top: 18px;
        padding: 20px;
        border-radius: 5px;
        position: relative;
        background-size: cover;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
}





















.container_of_all_grup {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;
    grid-gap: 20px;
    width: 2100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
.containet_of_Grup {
    position: relative;
    display: block;
    flex-direction: column;
    width: 400px;
    height: 440px;
    border: 1px solid rgb(208, 144, 17);
    border-radius: 10px;
    background: rgba(236, 175, 5, 0.374);
    transition: 0.5s;
}
.containet_of_Grup:hover {
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    opacity: 1;
    background: rgba(251, 172, 2, 0.794);
}
.container_tims_of_grup {
    position: absolute;
    display: grid;
    flex-direction: auto;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
   
    

}

.name_of_grup_button{
    display: inline;

    height: 50px;
    border-radius: 5px;
    background: rgb(88, 85, 62);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    width: 100px;
    margin-top: 10px;

}

.name_of_grup_button::after {
    content: '';
        display: block;
        width: 300px;
        /* Širina linije ispod naslova */
        border-bottom: 5px solid rgb(255, 254, 254);
        /* Debljina 40 piksela, crna linija ispod naslova */
        position: absolute;
        top: 69px;
        /* Udaljenost od donje ivice naslova */
        left: 50%;
        /* Postavljanje na polovinu roditeljskog elementa */
        transform: translateX(-50%);
        /* Centriranje prema širini elementa */
}
.name_of_grup_osmina {
    display: inline;
    border-bottom: black;
    background: rgb(255, 225, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.red {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 70px;
    margin: 10px;
    transition: 0.3s;
    float: left;
    background: rgb(255, 204, 0);
    border-radius: 10px;

}
.blue {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 70px;
    margin: 10px;
    transition: 0.3s;
    float: left;
    background: rgb(0, 255, 132);
    border-radius: 10px;

}
.container_of_tim {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 70px;
    margin: 10px;
    transition: 0.3s;
    float: left;
}
.container_of_tim:hover {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(250, 250, 252, 0.25) 0px 30px 60px -12px inset, rgba(232, 210, 210, 0.3) 0px 18px 36px -18px inset;
}
.container_of_tim_red:hover {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(250, 250, 252, 0.25) 0px 30px 60px -12px inset, rgba(232, 210, 210, 0.3) 0px 18px 36px -18px inset;
}
.container_of_tim_blue:hover {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(250, 250, 252, 0.25) 0px 30px 60px -12px inset, rgba(232, 210, 210, 0.3) 0px 18px 36px -18px inset;
}
#tim_grup_img {
    position: absolute;
    width: 80px;
    background-size: cover;
    margin-bottom: 5px;
    transition: 0.1s;
    margin: 30px;
}
#tim_grup_img:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: scale(1.3)
}
#tim_grup_slovo {
    position: absolute;
    display: block;
    left: 145px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
#tim_grup_slovo span {
    font-weight: 600;
    font-size: 30px;
    color: brown;
}
#tim_img_ball {
    position: absolute;
    display: block;
    width: 30px;
    height: 50px;
    right: 40px;
    background-size: cover;
    background-image: url("New folder/pngegg.png");
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    z-index: 1;
}





















.container_of_result {
    position: absolute;
    display: grid;
    height: 65px;
    width: 90px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    right: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
.loading-text {
    font-family: 'Roboto', sans-serif;
    /* Primjer primjene Google Fonta - Roboto */
    font-weight: 700;
    /* Debljina fonta (bold) */
    font-size: 24px;
    /* Veličina fonta */
    color: #333;
    /* Boja teksta */
    display: inline-block;
    position: relative;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out infinite;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.info {
    position: relative;
    width: 370px;
    height: 200px;
    border: 1px solid rgb(208, 144, 17);
    transition: 0.5s;
    background: rgb(255, 242, 0);
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}



.finale {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.osmina {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.left_top {
    display: flex;
    flex-direction: column;
}

.div {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}



















.container_all_of_Grup_osmina_bodovi {
    display: flex;
    position: relative;
}


.disable {
    display: none;
}

.active {
    display: flex;
}
.container_finale{
    position: relative;
    margin-top: 100px;
}
.container_all_of_Grup_osmina {
        column-gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;

    left: 500px;
    width: 100%;
    height: 500px;
    border: 1px black 
}
.container_all_of_Grup_cetvrt {
position: absolute;
    column-gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 308px;
    width: 71%;
    height: 500px;
    border: 1px black;
    top: 98px;
}
.container_all_of_Grup_polu {
    position: absolute;
    column-gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 640px;
    width: 40%;
    
    border: 1px black;
    top: 152px;
}
.container_all_of_Grup_finale {
    position: absolute;
        column-gap: 50px;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 910px;
        border: 1px black;
        top: 20px;
}

.container_all_of_Grup_za_trece1 {
    position: absolute;
    column-gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 910px;
    border: 1px black;
    top: 280px;
}










.all_tims {
    display: grid;
    grid-template-columns: 1fr auto;
    
    gap: 10px;
    text-align: center;
        justify-content: center;
        align-items: center;
    

    /* Opciono: dodaje razmak između elemenata */
}
        /* Opciono: dodaje razmak između elemenata */


.container_of_tims{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 2px solid rgb(160, 159, 159);
    width: 290px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.team {
    
        /* Dodajte okvir debljine 2 piksela i boje crne */
    padding: 10px;
    position: relative;
}
#tim_grup_img_finale{
    height:40px ;
    border: 1px solid rgb(146, 145, 145);

}
.vs1{
    display: block;
    position:absolute ;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
}




.container_of_tims .team:first-child #bodovi_kola-2_finale {
    /* Vaši stilovi za prvi #bodovi_kola-2_finale idu ovde */
    color: #151515;
    position: absolute;
    top: 20px;
    left: 110px;
    font-size: 25px;
    
}
.container_of_tims .team:nth-child(3) #bodovi_kola-2_finale {
    /* Vaši stilovi za treći #bodovi_kola-2_finale idu ovde */
    color: #131313;
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 25px;
}

.name_of_cvalification{
    
    position: relative;
    text-align: center;
    justify-content: space-between;
    width: 100%px;
    height: 70px;
    margin: 10px;
    transition: 0.3s;
    background: rgba(134, 139, 77, 0.2);
    border-radius: 10px;
}
.name_of_cvalification .naslov:first-child  {
    /* Vaši stilovi za prvi #bodovi_kola-2_finale idu ovde */

    position: absolute;
    top: 20px;
    left: 115px;
    color: rgb(122, 122, 122);
        /* Boja teksta */
    font-size: 20px;
        /* Veličina fonta */
    font-weight: bold;
        /* Podebljano */
    
}
.name_of_cvalification .naslov:last-child {
    /* Vaši stilovi za prvi #bodovi_kola-2_finale idu ovde */

    position: absolute;
    top: 20px;
    right:100px;
    color: rgb(122, 122, 122);
    /* Boja teksta */
    font-size: 20px;
    /* Veličina fonta */
    font-weight: bold;
    /* Podebljano */
}



.name_of_cvalification .naslov:nth-child(2) {
    /* Dodajte željeni stil za treći naslov ovdje */
    /* Na primjer: */
    font-weight: bold;
    position: absolute;
    color: rgb(122, 122, 122);
    top: 20px;
    left: 400px;
/* Boja teksta */
    font-size: 20px;
    /* Veličina fonta */
    font-weight: bold;
    /* Podebljano */
}

/* Šesti naslov unutar .name_of_cvalification */
.name_of_cvalification .naslov:nth-child(7) {
    /* Dodajte željeni stil za treći naslov ovdje */
    /* Na primjer: */
    font-weight: bold;
    position: absolute;
    color: rgb(122, 122, 122);
    top: 20px;
    right:  400px;
    /* Boja teksta */
    font-size: 20px;
    /* Veličina fonta */
    font-weight: bold;
    /* Podebljano */
}



.name_of_cvalification .naslov:nth-child(3) {
    /* Dodajte željeni stil za treći naslov ovdje */
    /* Na primjer: */
    font-weight: bold;
    position: absolute;
    color: rgb(122, 122, 122);
    top: 20px;
    left: 725px;
    /* Boja teksta */
    font-size: 20px;
    /* Veličina fonta */
    font-weight: bold;
    /* Podebljano */
}

/* Šesti naslov unutar .name_of_cvalification */
.name_of_cvalification .naslov:nth-child(6) {
    /* Dodajte željeni stil za treći naslov ovdje */
    /* Na primjer: */
    font-weight: bold;
    position: absolute;
    color: rgb(122, 122, 122);
    top: 20px;
    right: 730px;

    /* Boja teksta */
    font-size: 20px;
    /* Veličina fonta */
    font-weight: bold;
    /* Podebljano */
}

.name_of_cvalification .naslov:nth-child(4) {
    /* Dodajte željeni stil za treći naslov ovdje */
    /* Na primjer: */
    font-weight: bold;
    position: absolute;
    color: rgb(122, 122, 122);
    top: 140px;
    left: 1025px;
    /* Boja teksta */
    font-size: 30px;
    /* Veličina fonta */
    font-weight: bold;
    /* Podebljano */
    
}

/* Šesti naslov unutar .name_of_cvalification */
.name_of_cvalification .naslov:nth-child(5) {
    /* Dodajte željeni stil za treći naslov ovdje */
    /* Na primjer: */
    font-weight: bold;
    position: absolute;
    color: rgb(122, 122, 122);
    top:550px;
    right: 980px;
    
    /* Boja teksta */
    font-size: 30px;
    /* Veličina fonta */
    font-weight: bold;
    /* Podebljano */
}







.tim_popup {
    position: absolute;
    width: 800px;
    height: 400px;
    top: 1000px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* Postavite boju pozadine prema potrebi */
    border: 1px solid #ccc;
    /* Dodajte okvir prema potrebi */
    padding: 20px;
    /* Dodajte odgovarajući prostor unutar elementa */
    box-sizing: border-box;
    /* Da biste uzeli u obzir padding u širini i visini */
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;

}

.popup {
    position: relative;
    display: grid;
    top: 90px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
    grid-template-columns: 1fr 1fr;
    /* Dva stupca */
    grid-template-rows: auto auto;
    /* Dva reda */
    gap: 10px;
}
.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    background: black;
}




.output-group #image_field:nth-child(6){
    position: absolute;
        top: 0px;
        width: 300px;
        height: 300px;

}
.output-group #image_field:nth-child(7) {
position: absolute;
    top: 300px;
    width: 300px;
    height: 300px;

}


.output-group{
    position: absolute;
        width: 800px;
        height: 400px;
        top: 1000px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 99;
        text-align: center;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
        padding-top: 100px;
}






#output_output_slovo{

        display: block;
        left: 145px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
}


.output-tim{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 70px;
    margin: 10px;
    transition: 0.3s;
    float: left;

}
#tim_output_slovo{
    font-weight: 400;
    font-size: 20px;

}
#tim_output_img {
    width: 70px;
    height: 50px;
    border: 1px solid #e3e0e0;
}


#output-flags{
    
    width:100px ;
    height:90px ;

}
#name_of_contre{
    font-size: 50px;
}


.output-group #output_grup_img:nth-child(6) {
    width: 180px;
    background-size: cover;
    margin-bottom: 5px;
    transition: 0.1s;
    position: absolute;
    top: 50px;
    left: 308px;
}

.output-group #output_grup_img:nth-child(7) {
    width: 180px;
    background-size: cover;
    margin-bottom: 5px;
    transition: 0.1s;
    position: absolute;
    bottom: 00px;
    left: 310px;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: red;
    background: rgb(15, 85, 197);
}

#uvecajSliku {
    width: 200px;
    /* Početna širina slike */
    transition: width 0.3s ease;
    /* Animacija uvećanja */
}